
	<div class="row-fluid">
		<div class="span6 image"><img src="/assets/bunty.jpg" class="img-rounded"></div>
		<div class="span6 content">
		  <body background="/assets/bg13.jpg">
			<h1>This is Myspace</h1>
			<p>Discover,share and connect to Rails Blog from<br>the world's largest streaming library</p>
			<%=  link_to 'About Me', abouts_path, :class => "btn btn-primary about-button" %>
			<%=  link_to 'Sign In', new_user_session_path, :class => "btn btn-primary about-button" %>

		</div>
	</div>

