// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  text-align:center;
}

.login{
   margin-top:5em;
}

.show{
  text-decoration:underline;
}
