// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image{
  margin-top:5em;
}

.content{
  margin-top:10em;
  text-align:center;
  color:#000000;
}
.about-button{
  margin-right: 2em;
}


